# GRID SEARCH TECHNIQUE.

In [3]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

In [4]:
data = pd.read_csv('car_evaluation.csv')
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [5]:
enc = LabelEncoder()
data.buying = enc.fit_transform(data.buying)
data.maint = enc.fit_transform(data.maint)
data.lug_boot = enc.fit_transform(data.lug_boot)
data.safety = enc.fit_transform(data.safety)
X = data.iloc[:,:-1]
y = data.outcome

In [6]:
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10)

In [8]:
model = RandomForestClassifier()  # Hyperparameters tuning

parameters = {'max_depth':[14,15,16],
              'random_state': [0,1],
              'n_estimators':[53,54,55,56], 
             }
grid = GridSearchCV(model,parameters,cv=5)
#grid = RandomizedSearchCV(model,parameters,cv=5)
grid.fit(X,y)

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'max_depth': [14, 15, 16],
                         'n_estimators': [53, 54, 55, 56],
                         'random_state': [0, 1]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [9]:
grid.best_score_

0.8264522074223004

In [10]:
grid.best_params_

{'max_depth': 15, 'n_estimators': 55, 'random_state': 1}

In [11]:
y_predict = grid.predict(X_test)

In [12]:
model = RandomForestClassifier(random_state=1,
                               n_estimators=55,
                              max_depth=15)
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.9845857418111753

col_0    acc  good  unacc  vgood
outcome
acc       98     4      0      0
good       3    18      0      0
unacc      0     0    371      0
vgood      1     0      0     24